.header{
    background-color: aqua;
}
.footer{
    background-color:burlywood;
}
.b{
    background-color:yellow;
}
.home{
    background-color:chocolate;
}
.ferraripage{
    background-color: aqua;
}
.tr1{
    background-color: burlywood;
}
.tr2{
    background-color:rgb(157, 148, 172);
}
.tr3{
    background-color: rgb(103, 102, 158);
}
.heading{
    background-color: brown;
    color: white;
}
.first{
    background-color: burlywood;
}
.second{
background-color: coral;
}